<%- include("header.ejs") -%>

<style>
   #searchGroup {
      margin-top: 200px;
      width: 600px;
      z-index: 1000;
   }
   #searchButton {
      width: 150px;
      background-color: rgb(0, 176, 101);
      font-size: 20px;
      height: 54px;
      line-height: 20px;

   }
   .form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, .5); }
   .form-control:-moz-placeholder { color: rgba(255, 255, 255, .5); }
   .form-control::-moz-placeholder { color: rgba(255, 255, 255, .5); }
   .form-control:-ms-input-placeholder { color: rgba(255, 255, 255, .5); }
   #mainSearch {
      background-color: rgba(255, 255, 255, .5);
      color: rgba(255, 255, 255, .72);
      font-size: 20px;
      border: none;
   }
   .btn-xlarge {
       padding: 18px 22px;
      color: rgba(255, 255, 255, .72);
       line-height: normal;
       -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
               border-radius: 8px;
   }
   .input-xlarge {
       line-height: 27px;
       padding-top: 27px;
       padding-left: 15px;
       padding-right: 30px;
       padding-bottom: 27px;
       -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
               border-radius: 8px;
   }
   #searchButton {
      border-radius: 0 10px 10px 0;
   }
   #logo {
      margin-top: 0px;
      width: 500px;
      height: 300px;
   }
   #searchResults {
      width: 420px;
      height: 150px;
      border-radius: 0 0 10px 10px;
   }
   #searchResults > #searchResultsList {
      width: 100%;
      height: 100%;
      padding: 0;
      margin-right: 0;
      background-color: rgba(255, 255, 255, .6);
      margin-bottom: 0px;
      border-radius: 0 0 10px 10px;
   }
   #searchResults > ul > li {
      padding-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 40px;
      width: 100%;
   }
   #mainSearch {
      border-radius: 10px 0 0 10px;
   }
   #searchResults > ul{height:200px; width:18%;}
   #searchResults > ul{overflow:hidden; overflow-y:scroll;}
   .star {
      width: 20px; 
      height: 20px
   }
   .teacherName {
      font-weight: bold;
   }
   .college {
      padding: 0;
      width: 100%;
      height: auto;
   }
   .col-xs-2 {
      padding: 0;
   }
   #collegesRowOne {
      margin-top: 30px;
   }
   #collegesRowTwo {
      margin-top: 50px;
   }
</style>

<div class="photo first" data-stellar-background-ratio="0.5"><span>
      <img id="logo" src="/images/sicklogo.gif"> </img>
   <div class="container">
      <div class="col-lg-5 col-lg-offset-3" id="searchGroup">
           <div class="input-group">
               <input id="mainSearch" type="text" class="form-control input-xlarge" placeholder="Search by name, class title, or keyword" /> 
               <span class="input-group-btn">
                   <button id="searchButton" class="btn btn-xlarge" type="button">Go!</button>
               </span>
            <div>

         </div>
      </div>
      <div id="searchResults" hidden="hidden">
         <ul id="searchResultsList">
            
        </ul>      
      </div>
   </div>
</div>
</span></div>
<div class="photo second" style="height: 850px" data-stellar-background-ratio="0.5"><span>
   <div class="container" style="text-align: center; margin-top: 40px; font-size: 40px; font-weight: bold; font: helvetica-neu;">
      <span style="text-align: center; color: black">Colleges
   </div>
   <div class="container" style="width: 100%; padding: 0; margin: 0;">
      <div class="container" id="collegesRowOne">
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/architecture">
               <img class="college" src="/images/Agriculture, Food, and Enviornmental Sciences02.png"> </img>
            </a>
         </div>
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/business">
               <img class="college" src="/images/Architecture and Environmental Design.png"> </img>
            </a>
         </div>
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/engineering">
               <img class="college" src="/images/Business.png"> </img>
            </a>
         </div>
      </div>
      <div class="container" id="collegesRowTwo">
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/agriculture">
               <img class="college" src="/images/Engineering.png"> </img>
            </a>
         </div>
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/liberalArts">
               <img class="college" src="/images/Liberal Arts.png"> </img>
            </a>
         </div>
         <div class="col-xs-4 col-xs-offset-0">
            <a href="/colleges/scienceAndMath">
               <img class="college" src="/images/Science and Mathematics.png"> </img>
            </a>
         </div>
      </div>
   </div>
</span></div>
<div class="photo third" style="height: 400px" data-stellar-background-ratio="0.5"><span>
   <div class="container" style="text-align: center">
      <img src="/images/hack-tagline.png" style="width:500px; height: auto; margin-top: 160px"></img>
   </div>
</span></div>
<div class="photo fourth" data-stellar-background-ratio="0.5" style="background-color: rgb(0, 176, 101); height: 130.859px"><span>
   <div class="container" style="text-align:center; ">
      <img src="/images/hack-footer.png" style="width: 100%; height: auto"> </img>
   </div>
</span></div>

<%- include("footer.ejs") -%>

<script>
   $(function(){
         $.stellar({
            horizontalScrolling: false,
            verticalOffset: 0,
            responsive: true
         });
      });
   $('document').ready(function (){
      // var success = $("#success");
      // var danger = $("#danger");

      $("#mainSearch").click(function(e){
            $('#mainSearch').css('border-radius', '10px 0px 0px 0px');
         $('#searchResults').slideDown(function(){
            $('#searchResults').css("display", "block");
         });
      });
      $(document).click(function(event){
         if (!$(event.target).is('#mainSearch') && !$(event.target).parents().is('#searchResults') && !$(event.target).is("#searchResults")) {
            $('#searchResults').slideUp(function(){
            $('#mainSearch').css('border-radius', '10px 0 0 10px');
               $('#searchResults').css("display", "none");
            });
         }
      });
      var numRand = Math.floor(Math.random()*1000) + parseFloat(0);
      var numRand1 = Math.floor(Math.random()*1000) + parseFloat(0);
      var numRand2 = Math.floor(Math.random()*1000) + parseFloat(0);
      var numRand3 = Math.floor(Math.random()*1000) + parseFloat(0);
      var numRand4 = Math.floor(Math.random()*1000) + parseFloat(0);
      $(".star").click(function(event) {
        //  $(event.target).animate({
        //   marginLeft: '20px'
        // }, 1000, function() {
        //   // Animation complete.
        // });
         $(event.target).attr("src", "/images/star.gif-c200");
      });
      $("#mainSearch").keyup(function(event) {
         var searchVal = $("#mainSearch").val();
         console.log(searchVal);
         $.post("/teachers/teacherQuery/" + searchVal, function (data){
            $('#searchResultsList').empty();
            if (data.err){ 
               console.log('query error');
            } else {
               for (i = 0; i < Object.keys(data).length; i++) {
                  var name = Object.keys(data)[i];
                  if (name === "DoneganLorraine") {
                     console.log('changeing')
                     name = "LorraineDonegan";
                  }
                  $('#searchResultsList').append("<li><a href='/teachers/" + name + ".html'><div class='teacherName'> " + name + " </div></a><div style='margin-left: 20px'><img src='/images/star.png' class='star'></img><img src='/images/star.png' class='star'></img><img src='/images/star.png' class='star'></img><img src='/images/star.png' class='star'></img><span> (78) / </span> <span style='font-style: italic;'>Graphic Communication </span></div></li>");
               } 
            }
         });
      });
   });
</script>