@font-face {
    font-family: "avenir";
    src: url("/font/Avenir Roman.otf");
}

body {
   font-family: avenir;
}
.photo {
   background-attachment: fixed;
   background-position: 50% 0;
   background-repeat: no-repeat;
   height: 800px;
   position: relative;
   min-width: 100%;
}
.first {
   background-image: url("/images/backgroundphoto.png");
}
.second {
   background: white;
}
.third {
   background-image: url("/images/Bishops.jpg");
}
.fourth {
   background: white;
}